:host{
    ::ng-deep{

        .content{
            height: 100%;
            width: 100%;
            vertical-align: middle;
        }
        .perPage{
            margin-left: 5px;
            display: inline-block;
            width: 130px;
        }
        .optionalPage{
            display: inline-block;
            width: 100px;
            padding: 0 5px;
        }
        .totalPages{
            display: inline-block;
            width: 70px;
            font-size: 20px;
        }
    }
}