// CSS Reset, comment out if not required or using a different module
// @import '~minireset.css/minireset';
@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

/* autoprefixer grid: on */

@include igx-core();
@include igx-theme($default-palette);

$icon-theme: igx-icon-theme(
    $color: black,
    $disabled-color: grey,
);
@include igx-icon($icon-theme);

$button-theme:igx-button-theme(
    $icon-color: black,
    $icon-hover-color: orange,
    $disabled-color: grey,
)