.text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fullText{
    white-space: normal;
    word-break: break-all;
    display: flex;
}
.flexBtn{
    display: flex;
}
:host::ng-deep{
    .checkbox{
        color: orange;
        background-color: orange;
        border-color: orange;
    }
    .red{
        // background-color: red;
        color: red;
    }
    .igx-grid__cbx-selection{
        .igx-checkbox{
            padding: 15px;
            width: 51px;
            display: inline-block;
        }
    }
}