<div class="grid__wrapper">
    <igx-grid  [data]="dataList" [autoGenerate]="false" height="550px" width="100%" [paging]="true" displayDensity="cosy"
        [rowSelection]="'multiple'">
        <ng-template igxRowSelector let-rowContext>
                <igx-checkbox class="checkbox"
                    [checked]="false"
                    [readonly]="true"
                ></igx-checkbox>
            </ng-template>
        <!-- <ng-template igxHeadSelector let-headContext>
            <ng-container *ngIf="checkSelectable(); else hidden">
                <igx-checkbox></igx-checkbox>
            </ng-container>
            <ng-template #hidden>
                <div>test</div>
            </ng-template>
        </ng-template> -->
        <igx-column field="ID" header="ID" [resizable]="true" [editable]="true" [cellClasses]="redClass"></igx-column>
        <igx-column field="name" header="name" [resizable]="true"></igx-column>
        <igx-column field="URL" header="URL" [resizable]="true">
            <ng-template igxCell let-value>
                <div class="text">{{ value }}</div>
                <!-- <div class="fullText">{{ value }}<a>省略表示</a></div> -->
                <button igxButton="flat" class="flexBtn">省略表示</button>
            </ng-template>
        </igx-column>
        <igx-column field="test1" header="test1" [resizable]="true">
        </igx-column>
        <igx-column field="test2" header="test2" [resizable]="true"></igx-column>
        <igx-column field="test3" header="test3" [resizable]="true"></igx-column>
    </igx-grid>
</div>